body {
    font-family: Arial, Helvetica, sans-serif;
}
header {
    background: #FFD400;
    padding: 30px;
}
main > section {
    border: solid 1px black;
    display: inline-block;
    margin: 20px;
}
